.header {
  @include container($grid-container-width);
  text-align: center;
  text-transform: uppercase;

  [class*="content"] {
    @include span(3);
    align-items: center;
    background-color: $light-highlight-color;
    display: flex;
    justify-content: center;
    height: $header-height;
    @include breakpoint($small) {
     @include span(full inside no-gutter);
    }
  }

  &__item {
    display: table-cell;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
  }
}
