
/*sizes*/

$header-height: 2.2rem;
$footer-height: 4rem;
$min-app-height: 15rem + $header-height + $footer-height;

/*colors*/
$white: #FFF;
$black: #000;

$light-highlight-color: #D5D5D5;
$medium-highlight-color: #888;
$dark-highlight-color: #4A4A4A;
$main-background-color: #EFEFEF;


/*breakpoints*/
