@import "./compiled-main-styles";

//blacks, whites, greys
$black: #000;
$white: #FFF;
$light-grey: #CACACA;
$page-background-color: #F7F7F7;


//secondary colors
$company-detail-color: #CC285C;
$main-highlight-color: #1DAFEC;
$input-border-color: #35BEEF;
$container-border-color: #DFDFDF;
$positive-emphasis-color: #4DBE5E;



//tertiary colors
$highlight-color-cool: #0CA5BA;
$highlight-color-warm: #F69931;
$highlight-color-warmer: #F9D465;
$highlight-color-warmest: #F6702A;



//fonts
$small-label-font: normal 1.3rem sans-serif;
$small-value-font: bold 1.3rem sans-serif;


$container-sizes: (
  desktop: 1170px,
);

/* extends */
//span full width of screen WHEN NOT bound within bootstrap `.container`
%full-screen-width-no-grid {
  width: 100%;
  min-width: 1170px;
}

//HACK to span full width of screen WHEN bound within bootstrap `.container`
%span-full-width {
  margin-left: calc(-50vw + 50%);
  width: 100vw;
}



%basic-input-styles {
  margin: 0;
  padding: 4px 8px;
  position: relative;
  border: 1px solid #35beef;
  border-radius: 0px;
  overflow: hidden;
  text-align: left;
  background-color: $white;
  width: 100%;
}



/* mixins */


@mixin clearfix() {
  content: "";
  display: table;
  clear: both;
}


/**
*   @include allPseudo(true) {
*     color: red;
*   }
*/
@mixin all-pseudo ($includeParent){
  @if($includeParent){
    &,
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }@else{
    &:hover,
    &:focus,
    &:active {
      @content;
    }
  }
}

@mixin neutralize-link {
  @include all-pseudo(false) {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
  }
}

@mixin calendar-el-pseudo() {
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: lighten($input-border-color, 35%);
  }

  &:active {
    background: lighten($input-border-color, 20%);
    outline: none;
  }

  &:focus {

  }
}

@mixin all-borders($width, $color) {
  border-top: $width solid $color;
  border-right: $width solid $color;
  border-bottom: $width solid $color;
  border-left: $width solid $color;
}

@mixin background-icon-boilerplate() {
  content: '';
  background-repeat: no-repeat;
  width: 14px;
  height: 14px;
  position: absolute;
}

/// Slightly lighten a color
/// @access public
/// @param {Color} $color - color to tint
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function tint($color, $percentage) {
  @return mix(white, $color, $percentage);
}

/// Slightly darken a color
/// @access public
/// @param {Color} $color - color to shade
/// @param {Number} $percentage - percentage of `$color` in returned color
/// @return {Color}
@function shade($color, $percentage) {
  @return mix(black, $color, $percentage);
}





.posts-detail {

  &__page-header {
    margin: 25px;
  }
}



.interest-container {
  background-color: $white;
  border: 1px solid $light-grey;

  [class$="__list"] {
    list-style-type: none;
  }

  .interest-group__list {
    margin: 0;
    padding: 0 10px 0 10px;
    padding-left: 0;
    padding-right: 0;
    // padding: 15px;


    .interest-group {
        // padding: 15px 0 15px 15px;

      &__item {

        &:not(:last-of-type) {
          border-bottom: 1px solid $light-grey;
        }

        &:first-of-type {
          // padding-top: 15px;
        }

        &:after {
          @include clearfix();
        }

        &.active {
          box-shadow: inset 0px -13px 21px -15px rgba(20,18,20,.5);
        }

        &__container {
          align-items: flex-end;
          cursor: pointer;
          display: flex;
          float: left;
          width: 100%;
          transition: color, background-color 0.2s;

          &:hover {
            background-color: #b8eaff;
            // color: $white;
          }

          &.active {
            background-color: $main-highlight-color ;
            color: $white;
            >[class$="--count"] {

              span {

                &:after {
                  background-image: url(../../../../images/hide-content-small-white-icon.png);
                }
              }
            }
          }

          [class$="--name"],
          [class$="--count"] {
            padding: 15px 0 15px 15px;
          }

          [class$="--name"] {
            float: left;
            width: 200px;
          }

          [class$="--count"] {
            align-self: center;
            float: left;
            padding-left: 0;
            padding-right: 25px;
            word-break: break-all;
            text-align: right;
          }

          >[class$="--count"] {
            // border: 1px solid;
            text-align: right;
            width: 60px;
            span {
              position: relative;

              &:after {
                content: ' ';
                position: absolute;
                top: 3px;
                right: -16px;
                width: 10px;
                height: 10px;
                background-image: url(../../../../images/show-content-small-icon.png);
              }
            }
          }
        }
      }
    }
  }


  .interest__item__hook {
    float: left;
    width: 100%;
  }

  [class$="__item__container"] {

  }


  .interest__list {
    margin-left: 15px;
    padding: 15px 0 0 0;
    overflow-y: scroll;
    max-height: 250px;

    .interest__item {
      cursor: pointer;
      display: flex;
      align-items: flex-end;

      &:after {
        @include clearfix();
      }

      &:hover,
      &.active{
        color: $main-highlight-color;
      }
    }

    [class*="--name"],
    [class*="--count"] {
      padding: 15px;
    }

    [class$="--name"] {
      float: left;
      width: 140px;
      font-size: 12px;
    }

    [class$="--count"] {
      align-self: center;
      float: left;
    }
  }
}


// * { box-sizing: border-box; }
// body {padding-top: 50px;}
.overflow-text--hidden {
  display: none;
}

.full-text__trigger {
  color: $main-highlight-color;
  cursor: pointer;
  display: block;
  position: relative;
  margin: 15px 0 0 15px;

  &:hover {
    text-decoration: underline;
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 5px;
    left: -13px;
    width: 10px;
    height: 10px;
    background-image: url(../../../../images/show-content-small-icon.png);
  }

  &.less {
    &:before {
      background-image: url(../../../../images/hide-content-small-icon.png);
    }
  }
}

/* ---- grid ---- */

.grid {
  min-height: 100vh;
  max-width: 1170px;

}

/* clearfix */
.grid:after {
  // content: '';
  // display: block;
  // clear: both;
}

/* ---- grid-item ---- */






$card-component-border-color: #dfdfdf;
$white: #fff;
$post-date-background: #f7f7f7;
$post-padding: 15px;
$post-text-color: #1fa555;

#posts_list_hook {
  width: 100%;
}
#interest_type_hook,
#posts_list_hook {
  margin-top: 50px;
}

.posts-container { //namespace

  .post-items__row {
    // color: green;
    // display: flex;
    margin-bottom: 15px;
    // width: 100%;
    // flex-flow: row wrap;
    width: 100%;

    .grid-item {
      margin-bottom: 5px;
      float: left;
      width: 260px;
      // margin-right: px;

      &:nth-of-type(3n+3) {
        margin-right: 0;
      }
    }

    .post-items {
      // float: none;
      position: relative;
      padding: 0;
      // width: 150px;
      // width: 275px;
      // min-width: 275px;
      margin-right: 15px;
    }
  }

  [class$="--post-content"] {
    color: $post-text-color;
    background-color: $white;
    border: 1px solid $card-component-border-color;
    font-weight: 500;
    padding: $post-padding;
  }

  [class$="--post-text"] {
    color: $post-text-color;
  }

  [class$="--post-date"] {
    background-color: $post-date-background;
    border-color: $card-component-border-color;
    border-style: solid;
    border-width: 0 1px;
    border-bottom-width: 1px;
    padding: $post-padding;
    display: table;
    width: 100%;

    p {
      display: table-cell;
      vertical-align: middle;
    }
  }
}

